body{

	background: linear-gradient(rgba(0, 0, 0, 0.5),rgba( 0, 0, 0, 0.5)),url(../images/mg.jpg);
	background-size: cover;
	   
	
}
.reg-box{
	border-radius: 50px; 
	background: rgba(211, 211, 211, 0.5);
	float: center;
	max-width: 800px;
	margin: 120px auto;
	animation: animate 7s;
    animation-duration: infinite;
}
	
h1{
      font-family: 'Roboto', sans-serif;
    }

@keyframes animate
          {
              0%
              {
                  opacity: 0;
              }
              50%
              {
                  opacity: 1;
              }
              100%
              { 
                  opacity: 1; 
              }
              
          }
